@model IEnumerable<PreQualTool.Models.Applicant>

@{
    ViewBag.Title = "Data";
}

<h2>Data</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Income)
        </th>
        <th>
            Card Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {id=item.ID })
        </td>
    </tr>
}

</table>
